/*NO TOCAR NUNCA EL QUE EL FOOTER ESTÉ TOTALMENTE UNIDO A LA PARTE INFERIOR DE LA VENTANA*/


/* Variables para el footer */
:root {
    --footer-background: #ffc107; /* Color warning */
    --footer-text: #212529; /* Texto oscuro para contraste */
    --footer-link-color: #212529; /* Color oscuro para el texto del enlace */
}

body.is-dark-mode {
    --footer-background: #2b2b2b;
    --footer-text: #f5f5f5;
    --footer-link-color: #f5f5f5; /* Mantener el color del texto en el modo oscuro */
}

/* Aplicar transiciones para un cambio de tema agradable */
.is-small-footer {
    transition: background-color 0.3s !important, color 0.3s !important;
    height: 30px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: var(--footer-background) !important;
    color: var(--footer-text) !important;
    /* Estilos para el footer fijo */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegurar que el footer esté encima de otros elementos */
}

/* Estilo para los enlaces del footer */
.is-small-footer a {
    color: var(--footer-link-color) !important;
}

.is-small-footer a:hover {
    color: var(--footer-link-color) !important;
}
